@font-face { font-family:  young-serif;
  src: url(/recipe-page-main/assets/fonts/young-serif/YoungSerif-Regular.ttf)
  font-family outfit ;
  src: url(/recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
body{ display: grid inline-block;
gap: 4rem; max-width: 1440px;
background-color: hsl(30, 54%, 90%);} 

.conteudo {justify-items: center; background-color: white; margin: 0rem 10rem; margin-top: 5rem; border-radius: 2rem; }

.texto{ padding: 5rem; background-color: white; display: block; line-height: 2rem; padding-bottom: 0rem;}


.texto h1 { font-size: 2.5rem;}
 

img { max-width: 100%; margin-top: 2rem;border-radius: 1rem}

.imagem{ 
  align-items: center 
; width: 40rem;}

.preparo {width: 50rem;
  justify-self:left; padding: 1rem  2rem; border-radius: 2rem;
  background-color:   hsl(330, 100%, 98%); margin-left: 5rem;line-height: 3rem;}

.preparo h2 {color: hsl(332, 51%, 32%) }

p, li{font-family: outfit; font-size: 1.2rem;}
h1 , h2 { font-family: young-serif;}

.h2 { color: hsl(14, 45%, 36%) ;font-size: 2rem;}

.ingredientes { justify-self: left;
margin-left: 5rem; line-height: 2rem; margin-top: 2.5rem; }

.instrucões { margin-left: 5rem;}
.lista1 { list-style: none;}
.lista1 ::before { content: '';border-radius: 50%; border: 2px solid hsl(332, 51%, 32%);
display: inline-block; width: 0.2rem; background-image: linear-gradient( hsl(332, 51%, 32%),hsl(332, 51%, 32%));height: 0.2rem; margin-right: 2rem; }

.nutrição {  justify-self: left; margin-left: 5rem;}

.colunas { display:grid; grid-template-columns: 1fr 1fr;}
 h3 ::after {  content: ' '; display: block; width: 4rem; height:5rem; background:hsl(30, 10%, 34%) ;  }

 .colunas h3  { border-bottom: solid 0.1rem hsl(30, 18%, 87%); font-weight: normal;; padding: 0.4rem; font-family: outfit;}
 .colunas p { border-bottom: solid 0.1rem hsl(30, 18%, 87%); font-weight: bold;color: hsl(14, 45%, 36%); ; padding: 0.4rem;}
 .ingredientes ::marker { color: hsl(14, 45%, 36%) ; }
 .lista3 {list-style-type: square;}

 ol ::marker { color: hsl(14, 45%, 36%) ; font-weight: bold;}
ol { line-height: 2.4rem; padding: 2rem; }
